img.avatar {
	margin-top: 2rem;
}

section {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

@media (max-width: 639px) {
	section {
		margin-top: 2rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}
