dialog.fullview {
	flex-direction: row;
	column-gap: 1rem;
	cursor: zoom-out;
}

article.fullviewinfo {
	margin: 1rem 0;
	min-width: fit-content;
}

img.active, iframe.active, img.thumbnail {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

img.fullview {
	max-height: 90vh;
	width: auto;
	height: auto;
	object-fit: contain;
}

a.active, a.thumbnail {
	cursor: zoom-in;
	padding: 0.25rem;
	margin: 0.25rem;
	background-color: var(--card-background-color);
}

a.active:hover, a.thumbnail:hover {
	cursor: zoom-in;
	background-color: var(--secondary);
}

.modal-is-open {
	touch-action: manipulation;
}

@media (max-width: 991px) {
	a.active {
		display: none;
	}
	dialog.fullview {
		flex-direction: column;
	}
	img.fullview {
		max-height: 75vh;
	}
	article.fullviewinfo {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}