div.gallery {
	justify-items: left;
}

div.fullview {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: #00000080;
	justify-content: center;
	cursor: zoom-out;
}

img.active, iframe.active, img.thumbnail, img.thumbnail-selected {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: contain;
	aspect-ratio: 16/9;
	padding: 0.25rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

img.active, iframe.active {
	cursor: zoom-in;
}

img.thumbnail, img.thumbnail-selected {
	cursor: pointer;
}

img.active:hover, iframe.active:hover, img.thumbnail:hover {
	border: 1px dotted #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

img.active-selected, iframe.active-selected, img.thumbnail-selected {
	border: 1px solid #000;
}

section.thumbnailgrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1rem;
	justify-items: left;
}

@media (max-width: 1279px) {
	section.thumbnailgrid {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	img.active, iframe.active, img.thumbnail, img.thumbnail-selected {
		color: #ccc;
		background-color: #161616;
	}
	img.active:hover, iframe.active:hover, img.thumbnail:hover {
		border: 1px dotted #bbb;
	}
	img.active-selected, iframe.active-selected, img.thumbnail-selected {
		border: 1px solid #bbb;
	}
}