div.linkbuttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
}

.button,
.button-steam,
.button-itch-io,
.button-google-play {
  max-width: 320px;
	background-color: #f1f1f1;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
	color: #222;
  /* padding: 0px 16px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 16px;
  flex: 1 1 0px;
}

@media (prefers-color-scheme: dark) {
  .button,
  .button-steam,
  .button-itch-io,
  .button-google-play {
    color: #ccc;
		background-color: #161616;
  }
}

.button-steam {
  border-color: #66c0f4;
}

.button-steam:hover {
  box-shadow: 0 25px 50px -12px #66c0f480;
}

.button-itch-io {
  border-color: #fa5c5c;
}

.button-itch-io:hover {
  box-shadow: 0 25px 50px -12px #fa5c5c80;
}

.button-google-play {
  border-color: #0f9d58;
}

.button-google-play:hover {
  box-shadow: 0 25px 50px -12px #0f9d5880;
}
