html {
    background-image: var(--wall-left), var(--wall-right);
    background-position-x: left, right;
    background-position-y: center, center;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
    background-blend-mode: luminosity, luminosity;
    background-repeat: no-repeat, no-repeat;
}

@media (max-width: 991px) {
    html {
        background-image: var(--wall-top), var(--wall-bottom);
        background-position-y: top, bottom;
        background-position-x: center, center;
    }
}