html {
    background-image: url(assets/wall-left.png), url(assets/wall-right.png);
    background-position-x: left, right;
    background-position-y: unset, unset;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
    background-blend-mode: luminosity, luminosity;
}

@media (max-width: 991px) {
    html {
        background-image: url(assets/wall-top.png), url(assets/wall-bottom.png);
        background-position-y: top, bottom;
        background-position-x: unset, unset;
    }
}